<div id="posts_wrapper" class="skinny_wrapper">
<h1 class="post">Contact Information</h1>
<p class="post">Phone: (587) 336-1344</p>
<p class="post">Email: sean.m.craig02@gmail.com</p>
<p class="post">Adress: 10127 104 ST NW Alberta</p>

</div>