
<div id="posts_wrapper" class="skinny_wrapper">
<% @posts.each do |posts| %>
	<div class="post">
	<h3 ><%= link_to posts.tile, posts %></a></h3>
	<p class="date"><%= posts.created_at.strftime("%A, %b %d") %></p>
	<hr class="skinnywrapper">
	</div>

<% end %>

<br>
<br>
<%= will_paginate @posts %>
</div>